@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Cairo', system-ui, sans-serif;

    --color-china-red: #E60012;
    --color-china-dark: #B0000E;
    --color-china-gold: #FFD700;
    --color-china-yellow: #F4E04D;
}
